<div class="row">
    <div class="col-6">
        <input type="text" class="form-control" placeholder="Filter by name" [(ngModel)]="filterInput">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users | filterList : filterInput; let i=index">
                <th scope="row">{{ i }}</th>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td> <button class="btn" (click)="deleteUser(i)"><img src="../../assets/img/remove.png" style="width: 50px" alt="remove" class="img-fluid"></button> </td>
                <td> <button class="btn" [routerLink]="['../user', i]"><img src="../../assets/img/update.png" style="width: 50px" alt="open" class="img-fluid"></button> </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
  